/* ============================================================================= /*
    📁 style.css ▶ 

    - 

    💻 Triboo © 2024 
    👪 Julian MAYER - Alexis CAILLOTO - BREGLER Thomas

/* ============================================================================= */


/***********************************************************************************
                                🔧 ELEMENTS 🔧                     
************************************************************************************/

* {
    /* ✏ COLORS ✏ */
    --white: #FFFFFF;
    --black: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* ✏ MAIN FONT ✏ */
    font-family: "Plus Jakarta Sans", sans-serif;
}


/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */
/* ✒ ✒ ✒ ✒ ✒  ✒ ✒ TEXT ✒ ✒ ✒ ✒ ✒ ✒  */
/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */

h1{
    font-size:  48px;
}

h2{
    font-size:  42px;
}

h3{
    font-size:  36px;
}

h4{
    font-size:  32px;
}

p{
    font-size:  16px;
    margin: 0;
    color: black;
}

a{
    text-decoration: none!important;
}


@media (max-width: 0px) { }


/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */
/* ✒ ✒ ✒ ✒ ✒ OTHERS ELEMENTS ✒ ✒ ✒ ✒ ✒  */
/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */



/***********************************************************************************
                                    🔍 NAVBAR 🔍                    
************************************************************************************/

/***********************************************************************************
                                    📃 PAGES 📃                    
************************************************************************************/

/***********************************************************************************
                                    🔗 FOOTER 🔗                   
************************************************************************************/
