{# ============================================================================= 
    📁 home.html.twig ▶ [ ERROR 403 ]

    - 
     
    💻 Triboo © 2024 
    👪 Julian MAYER - Alexis CAILLOTO - BREGLER Thomas

   ============================================================================= #}

{% extends 'base.html.twig' %}

<title>{% block title %}Triboo - ERROR 403{% endblock %}</title>

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1>ERROR 403</h1>
                </div>
            </div>
        </div>
    </section>                    
{% endblock %}